
.main-container{
	width: 1170px;
	font-family: "Poppins",sans-serif;
	color: #222222; /*Primary color*/;
	margin: 0 auto;
}

.horizontal-spacing{
	
	margin-left: 150px;
    margin-right: 150px;

}

.vertical-spacing{


}

header{
	height: 90px;
}

.navbar nav {
	display: block;
	position: fixed;
	font-size: 22px;
	width: 100%;
	}

.navbar ul{
	float: right;
	text-align: center;
}

.navbar li{	
	display: inline-block;
}

nav li a{
	padding-left: 30px;
	text-decoration: none;
	font-size: 16px;
	color: #C7C7C7; /*Secondary color*/
}

nav li a:hover {
	color: #222222;
	text-decoration: underline;

}

nav li a:active{
	color: red;
}

.logo {
	float: left;
}