/*

light-300
medium-500
semi-bold 600
bold 700
black 900
*/
body{
	margin: 0px;
}
.main-container{
	width: 1170px;	
	margin: 0 auto;
}
*{
	font-family: "Poppins",sans-serif;
	color: #222222; /*Primary color*/;
}

.horizontal-spacing{
	margin-left: 150px;
    margin-right: 150px;
}

.vertical-spacing{
	margin-top: 120px;
}

header{
	height: 90px;
	
}
.navbar{
	position:fixed;
	z-index: 1;
	width: 870px;
}
.navbar ul{
	padding-top: 32px;
	padding-bottom: 32px; 
	right: 0;  
	float: right;
	text-align: center;
	margin: 0px;
}

.navbar li{	
	display: inline-block;
}

.navbar a{
	padding-left: 40px;
	text-decoration: none;
	font-size: 16px;
	font-weight: 300;
	color: #C7C7C7; 
}

.navbar a:hover, .types-links a:hover  {
	color: #222222;
	text-decoration: underline;

}

.navbar a:active, .types-links a:active{
	color: red;
}

.logo {
	
	float: left;
	padding: 16px 0 16px 0;
	padding-top: 16px;
	padding-bottom: 16px;
}


.banner{
	background-color: #EFEFEF;
	height: 420px;
	position: relative;
	
}

.banner h2{
	font-size: 50px;
	font-weight: 900; /*black*/
    margin: 10px 0 20px 0;
}

.banner p{
	margin: 0px; 
	font-size: 16px;
	font-weight: 300;/*lignt*/
	
}

.banner-content{
	position: absolute; 
    width: 590px;
    padding: 75px 0 75px 0;   
}

.banner img{
	position: relative;
	float: right;
	width: 480px;
    height: 480px;
}

.banner-button{
	margin-top: 30px; 
	position: relative;
	
}
.shop-now-button{
	position: relative;
	bottom: 0px;
	height: 26px;	
}


.shop-now-button a{
	position: absolute;
	top: 0px;
	font-size: 18px;
	font-weight: 300;
	background: none;
	border: none;
	text-decoration: none;
}

.red-background{
	position: absolute;
	bottom: 0px;
	height: 10px;
	width: 95px;
	background-color: #FF2600;
	opacity: 0.3;	
}

.product-cards{
	border: 1px;

}

.types-links ul{
	padding: 0;
	
}

.types-links ul li{
	display: inline-block;
	margin-right: 26px;
}

.types-links a{
	text-decoration: none;
	font-size: 16px;
	font-weight: 300;
	color: #C7C7C7; 
}

.product-cards{
	margin-top:40px; 
}
.product-cards .card{
	box-sizing: border-box;
	position: relative;
	display: inline-block;
	margin: 0 auto;
	width: 247px;
	height: 300px;
}


.h-spacing div:not(:last-child)
{
	margin-right: 60px;	
}

.product-cards .product-img{
	border-bottom: 2px solid #222222; 
}

.product-img{
	opacity: 1;
	height: 100%;
	width: 100%;
	margin: 0;	
}
.product-details{
	padding: 20px;
	opacity: 0;
	position: absolute;
	height: 260px;/*total=270*/
    width: 207px;/*total=247*/
	top:0;
	left: 0;
	margin: 0;
	color: black;
	background-color: #222222;
	border-bottom: 2px solid #222222; 

}
.product-details p{
	font-size: 14px;
	font-weight: 300; 
	color: #C7C7C7;

}

.product-details h2
{	margin-top:0; 
	font-size: 24px;
	font-weight: 300; 
	color: #C7C7C7;
}

.card:hover .product-details {
	color: #EFEFEF;
	opacity: 0.8;	
}
.product-cards .card-container{
	padding-left: 20px;
}


.product-cards .card-container h2{
	margin: 0;
	font-size: 24px;
	font-weight: 500;

}

.product-cards .card-container p{
	margin: 0;
	font-size: 14px;
	font-weight: 300;
	
}
.product-button{
	position: absolute;
	bottom: 0px;
	left: 20px;
	border:none;
	width: 70px;
	height: 25px;
	background-color: white;
	font-size: 14px;
	font-weight: 300;
}

.banner-cards .card{
	width: 402px;
	height: auto;
	display: inline-block;
	box-sizing: border-box;
	margin: 0;
	position: relative;
}

.banner-cards .card-container{
	position: absolute;
	top: 70px;
}

.banner-cards .container-1{
	right: 10px;
}

.banner-cards .container-2{
	left:10px;
}

.banner-cards .card-container h2{
	margin-top: 0;
	font-size: 24px;
	font-weight: 600; /*semibold*/
}

.banner-cards .card-container h6{
	margin: 0;
	font-size: 16px;
	font-weight: 300;
}

.banner-cards .card-container .card-button{
	width: 97px;
}

.tile-cards .card{
	box-sizing: border-box;
	display: inline-block;
	position: relative;
	margin: 0;
	width: 247px;
	/*height: auto;*/
	border: 1px solid #C7C7C7;
}

.tile-cards .tile-img{
	width: 100%;
}

.tile-cards .card-container{
	padding: 10px;
}
.tile-cards h2{
	font-size: 24px;
	font-weight: 500;
	margin: 0;

}

.tile-cards h6{
	font-size: 14px;
	font-weight: 500;
	margin: 0;
}
.sale-label{
	position: absolute;
	background-color: #222222;
	color: #C7C7C7;
	top:20px;
	right:20px;
	font-size: 14px;
	padding: 5px 10px ;
}
.card-container .add-button
{
	/*float: right;*/
	right: 0;
	border: none;
	outline: none;
	background: none;
	font-size: 10px;
	font-weight: 300; 
	padding: 0;
	margin-left:40px; 
}

.card-container .add-button:hover {
	background-color: #C7C7C7;
}
 .tile-cards p{
	display: inline-block;	
	margin: 0;
	padding: 0;
	margin-right: 30px;
	font-size: 10px;
	font-weight: 300; 
}

.gallery-cards .card{
	display: inline-block;
	margin: 0;
	width: 247px;
    height: 160px;
}

.gallery-img{
	border-left: 2px solid #222222;
	height: 100%;
	width: 100%;
}
.gallery-cards h2{
	 font-size: 18px;
	 font-weight: 500;
}

.gallery-cards p{
	 font-size: 14px;
	 font-weight: 300px;
}

.gallery-cards a{
	text-decoration: none;
	color: #222222;
	
}

.gallery-cards a:hover{
	background-color: #C7C7C7;
}
.f-col {
	display: inline-block;
}

.f-col ul{
	margin: 0px;
	padding: 0px;
	list-style: none;
	padding-left: 0px; 
}

.f-row a{
	text-decoration: none;
	color: #222222;
	font-size: 16px;
	font-weight:300;
}

.f-col:not(:last-child)
{
	margin-right: 77px;	
}

.f-col  h2{
	margin-top:0px;
	margin-bottom: 30px;  
	padding:0px;
	font-size: 30px;
	font-weight:500;
}

.f-col li {
	margin-bottom: 10px;
}
.f-bottom{
	margin-top: 60px; 
	width: 100%;
	height: 122px;
	background-color: #EFEFEF;	
	position: relative;
}

.f-bottom-content{
	
	padding-top: 61px;
	padding-bottom: 61px;
	text-align: center;
 	font-size: 16px;
 	font-weight: 300;	
}

.f-bottom p{
	position: absolute;	
	margin: 0;
	padding: 0;
}

.f-bottom ul{
	float: right;
	margin: 0px;
	padding: 0px;
}
.f-bottom ul li{

	display: inline-block;
	text-decoration: none;
	list-style: none;	
}

.f-bottom ul li a{
	text-decoration: none;	
}

.f-bottom ul li a:hover{
	text-decoration: underline;
}

.f-bottom ul li:not(:last-child)
{
	margin-right: 30px;	
}

.newsletter{
margin-top: 300px;
position: relative;
width: 100%;
height: auto;

}

.bg{
	position: relative;
	height: 300px;
	width: 100%;
	background-color: #EFEFEF; 
}

.newsletter-content{
	text-align: center;
	/*border: 2px solid red;*/ 
	position: absolute;
    top: 39px;
    right: 100px;
}

.n-img img{
	position: absolute;
	float: left;
	bottom: 0;
	margin-left: 150px;
	height: 485px;
	width: 303px;

}

.newsletter-content input{
	height: 50px;
	padding-left: 30px;
	margin: 0;
	width: 350px;
	color: #C7C7C7;
	border: none;
	font-size:14px;
}
.newsletter-content button{
	height: 50px;
	width: 160px;
	padding: 0;
	margin: 0;
	background-color: #222222;
	border: none; 
	color: #C7C7C7;
	font-size:14px;
	font-weight: 300;

	
}
.newsletter-content h2{
	font-size: 24px;
	font-weight: 600;
	
}
.newsletter-content  span{
	font-weight: 300;

}
.newsletter-content p{
	font-size: 14px;
	font-weight: 300;
	margin-bottom: 40px;
	
}


